{% extends 'base.html.twig' %}

{% block title %}Article Page
{% endblock %}

{% block body %}
	{% block header %}
		{% if article %}
			<!-- Page Header -->
			<header class="masthead" style="background-image: url({{ asset('img/post-bg.jpg') }})">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10 mx-auto">
							<div class="post-heading">
								<h1>{{ article.title }}</h1>
								<h2 class="subheading">{{ article.subtitle }}</h2>
								<span class="meta">Posted by
									<a href="#">{{ article.author }}</a>
									on
									{{ article.createdAt|date("F d, Y") }}</span>
							</div>
						</div>
					</div>
				</div>
			</header>
		{% endif %}
	{% endblock %}

	{% block content %}
		{% if article %}
			<!-- Post Content -->
			<article>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10 mx-auto">
							{{ article.body }}
						</div>
					</div>
				</div>
			</article>
		{% endif %}
	{% endblock %}
{% endblock %}
