{% extends 'base.html.twig' %}

{% block title %}Article Page
{% endblock %}

{% block body %}
	{% block header %}
		{% if article %}
			<!-- Page Header -->
			<header class="masthead" style="background-image: url({{ asset('img/post-bg.jpg') }})">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10 mx-auto">
							<div class="post-heading">
								<h1>{{ article.title }}</h1>
								<h2 class="subheading">{{ article.subtitle }}</h2>
								<span class="meta">Posted by
									<a href="#">{{ article.author }}</a>
									on
									{{ article.createdAt|date("F d, Y") }}</span>
							</div>
						</div>
					</div>
				</div>
			</header>
		{% endif %}
	{% endblock %}

	{% block content %}
		{% if article %}
			<!-- Post Content -->
			<article>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10 mx-auto">
							{{ article.body }}
						</div>
					</div>
				</div>
			</article>
		{% endif %}
	{% endblock %}

	{% block comments %}
		<hr>

		<div class="container">
			{% if commentForm %}
				{{ form_start(commentForm) }}
				{{ form_row(commentForm.name) }}
				{{ form_row(commentForm.email) }}
				{{ form_row(commentForm.comment) }}
				<button type="submit" class="btn btn-secondary">Submit</button>
				{{ form_end(commentForm) }}
			{% endif %}

			<div
				class="row">
				{# <h3 class="col-lg-8 col-md-10 mx-auto">2 Comments</h3> #}
				<h3 class="col-lg-8 col-md-10 mx-auto">{{ article.comments|length }}
					Comments</h3>
			</div>

			{% for comment in article.comments %}
				<div class="row">
					<div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
						<div class="media-body">
							<h5 class="mt-0">{{ comment.name }}
								<small>{{ comment.createdAt|date("Y-m-d") }}</small>
							</h5>
							<blockquote>{{ comment.comment }}</blockquote>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
{% endblock %}
